h1 {
  text-align: center;
  font-weight: bolder;
}
.intro {
  font-style: normal;
  text-align: center;
  font-family: fantasy;
}
p {
  font-weight: bold;
}

.pHighlight {
  border: 1px solid black;
  background-color: yellow;
}
